@charset "utf-8";

@import "variables";

.edit-task {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.edit-task-form {
  color: #555555;
  margin-left: 20px;
}

.edit-task-title, .edit-task-detail, .edit-task-date {
  width: 90%;
  margin-bottom: 25px;
  margin-left: 20px;
  max-width: 300px;
}

.delete-task-button {
  color: $main-color;
  border: solid 1px $main-color;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-task-button {
  background-color: #242F9B;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $main-color;
}