@charset "utf-8";

@import "variables";

.new-list {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.new-list-form {
  max-width: 90%;
  color: #555555;
  margin-left: 20px;
}

.new-list-title {
  width: 90%;
  margin-bottom: 25px;
  margin-left: 20px;
  max-width: 300px;
}

.new-list-button {
  background-color: #242F9B;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}