@charset "utf-8";

@import "variables";

.new-task {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.new-task-form {
  color: #555555;
  margin-left: 20px;
}

.new-task-select-list, .new-task-title, .new-task-detail, .new-task-limit {
  width: 90%;
  margin-bottom: 25px;
  margin-left: 20px;
  max-width: 300px;
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  background-color: #242F9B;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $main-color;
}